:root {
    --page-default-color : rgb(18, 218, 158);
    --gray-default-color : rgb(170, 170, 170);
} 
.input-error {
    color: red; 

}

.form{
    height: 100px;
    width: 50%;
    margin: 20% 25%;
}
.form-group{
   display: flex;
   flex-direction: column; 
   justify-content: center;
}
input{
  margin: 15px 0;
  position: relative;
  width: 100%;
  padding: 5px;
  color: rgb(0, 0, 0);
  border : 0; 
  border-bottom: 2px solid var(--gray-default-color);
  font-size: 23px;
  outline: 0;
}

input:focus{
    border-bottom: 2px solid var(--page-default-color);
}

.submit-button{
    background-color: var(--page-default-color);
    color: aliceblue;
    width: 103%;
    margin-top: 70px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--page-default-color) ;
    cursor: pointer;
    transition: border-color 0.25s;
}
strong{
    font-size: 20px;
}
.submit-button:hover {
    transition: 0.5s;
    background-color: black ;
    color: rgb(255, 252, 252);
}
label{
    color: var(--gray-default-color);
}
.checkbox-section{
    align-items: center;
    font-size: 0.825rem;
    display: flex;
    position: relative;
    justify-content: flex-start;
   
}
.error-message{
      font-size: 12px;
      color: red;
      text-align: left;
      margin : 0
}
#check{
    width: 5%;
}






