*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --page-default-color : rgb(18, 218, 158);
    --gray-default-color : rgb(170, 170, 170);
} 
.list-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 70px;
    cursor: pointer;
}
.list-section:hover{
    background-color: rgb(32, 32, 32);
    padding: 2px;
    transition: 0.5s;
}
.background-gray {
    background-color: var(--gray-default-color);
}
.list-name{
    font-size: 11px;
    color : rgb(41, 41, 41); 
    font-weight: 800;
}
.list-description {
    font-size: 10px;
    color : rgb(59, 59, 59);
    font-weight: 600;
    margin: -15px 0 0 10px;
}

.selected {
    background-color: var(--page-default-color); 
    border: 2px solid rgb(0, 0, 0); 
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25), 0px 5px 5px rgba(0, 0, 0, 0.22)
  }