*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --page-default-color : rgb(18, 218, 158);
    --gray-default-color : rgb(170, 170, 170);
} 
.list-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 75px;
    cursor: pointer;
}
.list-section:hover{
    padding: 3px;
    transition: 0.5;
    background-color: var(--page-default-color);
}
.background-gray {
    background-color: var(--gray-default-color);
}
.list-name{
    font-size: 12px;
    color : black; 
    font-weight: 800;
}
.list-description {
    font-size: 10px;
    color : black;
    font-weight: 600;
    margin: -15px 0 0 10px;
}