.sideBar-body{
    background-color: white;
}
.sideBar{
    display: flex;
    flex-direction: row;
    width: 20%;
    
}
.side-left{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-right: solid 1px gray;
    align-items: center;
}
.return-svg{
    margin-top: 87vh;
}
.side-right {
 display: flex;
 flex-direction: column;
 width: 10vw
}
.side-right-top {
    width: 100%;
    height: 5%;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-list{
    height: 100%;
    width: 100%;
    border-right: solid 1px gray;
}
.side-bar-list{
 margin-left: 5px;
}
.plus-svg{
    background-color: aquamarine;
    border-radius: 5px;
    margin-right: 5px;
}
.home-img {
    margin-left: 100px;
}
