.sideBar-div{
    background-color: rgb(255, 255, 255);
    position: relative; 
}
.sideBar{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100vh;
    
}
.side-left{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-right: solid 1px gray;
    align-items: center;
}
.plus-svg{
    cursor: pointer;
}
.plus-button{
    display: none;
}
.return-svg{
    margin-top: 87vh;
}
.side-right {
 display: flex;
 flex-direction: column;
 width: 10vw
}
.side-right-top {
    width: 100%;
    height: 5%;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-list{
    height: 100%;
    width: 100%;
    border-right: solid 1px gray;
}
.side-bar-list{
 margin-left: 5px;
}
.plus-svg{
    background-color: aquamarine;
    border-radius: 5px;
    margin-right: 5px;
}
.home-img {
    height: 90vh;
    margin-left: 250px;
}
.container-section {
    width: 10%;
}
