*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
.to-do-content{
    display: flex;
    flex-direction: row;
}

.to-do-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
    align-items: center;
}
.to-do-top-side{
    width: 90%;
}
.to-do-tasks{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.todo{
    width: 300px;
}